h3 {
    margin: 0;
}

.menu {
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.boxes {
    width: 100%;
    height: 600px;
    display: table;
    clear: both;
}

.box1 {
    width: 30%;
    height: 200px;
    border: 2px solid black;
    float: left;
    margin-left: 2%;
    overflow: hidden;
    background-color: rgb(44, 192, 203);
    text-align: left;
    padding: .5%;
    font-size: 18px;
}

.box2 {
    width: 30%;
    height: 200px;
    border: 2px solid black;
    background-color: black;
    color: white;
    text-align: left;
    padding: .5%;
    font-size: 18px;
    float: left;
    margin-left: 2%;
    overflow: hidden;
}

.box3 {
    width: 30%;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(49, 196, 16);
    text-align: left;
    padding: .5%;
    font-size: 18px;
    overflow: hidden;
    float: left;
    margin-left: 2%;
}

.chinese {
    width: 26%;
    border: 2px solid black;
    background-color: yellow;
    color: red;
    margin-left: 76.5%;
    margin-top: -11px;
    padding: .5%;
    text-align: center;
}

.tandoor {
    width: 26%;
    border: 2px solid black;
    background-color: white;
    color: black;
    margin-left: 76.5%;
    margin-top: -11px;
    padding: .5%;
    text-align: center;
}

.chicken {
    width: 26%;
    border: 2px solid black;
    background-color: orangered;
    color: rgb(6, 18, 8);
    margin-left: 76.5%;
    margin-top: -11px;
    padding: .5%;
    text-align: center;
}

@media screen and (min-width:992px) {
    box1,
    .box2,
    .box3 {
        width: 31%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .box1,
    .box2 {
        width: 45%;
    }
    .box3 {
        width: 92%;
        margin-top: 5%;
    }
}

@media screen and (max-width:767px) {
    .box1,
    .box2,
    .box3 {
        width: 90%;
        margin-top: 1%;
    }
}