section {
    width: 30%;
    height: 50%;
    float: left;
    border: 1px solid black;
    position: relative;
    padding: 5px;
    padding-top: 50px;
    color: black;
    background-color: aquamarine;
    margin: 10px;
}

.firstitem {
    background-color: rgb(15, 181, 218);
    color: rgb(192, 29, 56);
}

.seconditem {
    background-color: black;
    color: white;
}

.thirditem {
    background-color: rgb(90, 234, 38);
    color: red;
}

#span1 {
    background-color: rgb(56, 190, 38);
    color: red;
}

#span2 {
    background-color: aliceblue;
    color: black;
}

#span3 {
    background-color: orange;
    color: rgb(34, 10, 34);
}

h1 {
    text-align: center;
    padding: 10px;
}

p {
    text-align: center;
    font-size: small;
}

* {
    box-sizing: border-box;
}

body {
    background-color: pink;
}

span {
    border: 1px solid black;
    position: absolute;
    width: 30%;
    height: 30%;
    top: 0;
    right: 0;
    bottom: 0;
}

section>span {
    background-color: rgb(20, 231, 94);
}

span p.itemlist {
    font-weight: 900;
}

h2 {
    font-size: 110%;
}


/*for tablet view*/

@media(min-width:768px) and (max-width:991px) {
    section.firstitem {
        width: 40%;
    }
    section.seconditem {
        width: 40%;
    }
    section.thirditem {
        width: 100%;
    }
}


/*for desktop window*/

@media(min-width:992px) {
    section.firstitem {
        width: 30%;
    }
    section.seconditem {
        width: 30%;
    }
    section.thirditem {
        width: 30%;
    }
}


/*for mobile view*/

@media(max-width:767px) {
    section {
        width: 100%;
    }
}